{{#bs-navbar type="light" backgroundColor="light" class="fixed-top flex-md-nowrap" collapsed=collapsed onCollapse=(action (mut collapsed) true) onExpand=(action (mut collapsed) false) as |navbar|}}
  <div class="navbar-header">
    {{navbar.toggle}}
    {{#link-to "index" (query-params filter='') class="navbar-brand"}}Expert Advice{{/link-to}}
  </div>
  {{#navbar.content}}
    {{#navbar.nav class="ml-auto" as |nav|}}
      {{#if currentSession.isAuthenticated}}
        {{#nav.item class="navbar-text"}}
          {{currentSession.user.email}}
        {{/nav.item}}
        {{nav.item class="nav-item__divider"}}
        {{#nav.item}}
          <a class="nav-link" {{action 'logout'}} href="#">Logout</a>
        {{/nav.item}}
      {{else}}
        {{#nav.item}}
          {{#nav.link-to "login"}}Login{{/nav.link-to}}
        {{/nav.item}}
        {{nav.item class="nav-item__divider"}}
        {{#nav.item}}
          {{#nav.link-to "register"}}Register{{/nav.link-to}}
        {{/nav.item}}
      {{/if}}
    {{/navbar.nav}}
  {{/navbar.content}}
{{/bs-navbar}}
