{{#if session.isAuthenticated}}
  {{#link-to "create-question" class="btn btn-primary"}}Ask a question{{/link-to}}
{{/if}}

{{input value=initialSearchValue placeholder="Search" class="form-control" key-up=(action "filter")}}

<table class="table">
  <thead>
    <tr>
      <th>Views</th>
      <th>Question</th>
    </tr>
  </thead>
  <tbody>
    {{#each model as |question|}}
      <tr>
        <td>{{views-summary question.views}}</td>
        <td>
          {{#link-to "question" question.slug}}
            {{question.title}}
          {{/link-to}}
          <br />
          {{question-tags question=question}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>

{{page-numbers page=page totalPages=model.meta.page.pages}}
