{{#if session.isAuthenticated}}
  {{#link-to "ask" class="btn btn-primary"}}Ask a question{{/link-to}}
{{/if}}

{{input value=initialSearchValue placeholder="Search" class="form-control" key-up=(action "filter")}}

<table class="table">
  <thead>
    <tr>
      <th>Views</th>
      <th>Question</th>
    </tr>
  </thead>
  <tbody>
    {{#each model as |question|}}
      <tr>
        <td>{{views-summary question.views}}</td>
        <td>
          {{#link-to 'question' question.id}}
            {{question.title}}
          {{/link-to}}
          <br />
          {{#each question.tagsArray as |tag|}}
            {{#link-to 'index' (query-params filter=tag page="1") class="badge badge-primary"}}{{tag}}{{/link-to}}
          {{/each}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>

{{page-numbers page=page totalPages=model.meta.page.pages}}
