<table class="table">
  <thead>
    <tr>
      <th>Views</th>
      <th>Question</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{views-summary model.views}}</td>
      <td>
        <h5>{{model.title}}</h5>
        {{question-tags question=model}}
      </td>
    </tr>
    {{#if (eq model.user currentSession.user)}}
      <tr>
        <td></td>
        <td>
          {{#link-to "edit-question" model.id class="btn btn-sm btn-secondary"}}Edit{{/link-to}}
          <a href="#" class="btn btn-sm btn-danger {{if deleteQuestion.isRunning "disabled"}}" {{action (perform deleteQuestion)}}>
            {{if deleteQuestion.isRunning "Deleting..." "Delete"}}
          </a>
        </td>
      </tr>
    {{/if}}
    <tr>
      <td></td>
      <td>{{model.description}}</td>
    </tr>
    <tr>
      <td></td>
      <td>
        {{#each model.loadedAnswers as |answer|}}
          <p>{{answer.body}}</p>
        {{/each}}
      </td>
    </tr>
    {{#if currentSession.isAuthenticated}}
      <tr>
        <td></td>
        <td>
          <h5>Answer</h5>
          {{answer-form question=model}}
        </td>
      </tr>
    {{/if}}
  </tbody>
</table>
